body, ul, li{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: #f7d79480;
}

header{
    background-color: #F3A683;
    text-align: center;
    padding: 60px 0;
    width: 100%;
/* position: sticky;*/
/* top: 0; */
/*    left: 0; 
    z-index: 1;
/*este comando fixa o header em segundo plano para 'rodar' o restante da aplicaçao 
 */
}

nav.main-nav{
    background-color: #F19066;
    padding: 20px;
    position: sticky;
    top: -08px;
    }

nav.main-nav ul{
    white-space: nowrap;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}

nav.main-nav li a.home, a.contatos, a.servicos{
    text-decoration: underline;
    color: #303952;
}
nav.main-nav li{
    width: 30%;
    display: inline-block;
    font-size: 30px;
     
}
nav li a{
    text-decoration: none;
    color: #000000;
   
} 
section.intro{
    background: #ECECEC;
    padding: 50px 25px;
    text-align: center;
    margin: 20px;
    border-radius: 20px;
    }

section.intro h2{
font-size: 20px;
}

section.intro p{
    font-size: 12px;
}

section.dicas{
    white-space: nowrap;
    margin: 20px;
    padding: 10px;

}

section.dicas li{
    list-style: none;
    font-size: 12px;
    padding: 5px;
}

section.dicas article{
    background: #F5CD79;
    border-radius: 20px;
    padding: 10px;
    width: 33%;
    display: inline-block;
    box-sizing: border-box;
}

section.dicas article h2{
    text-align: center;
}

footer{
    background-color: #596275;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
}
